/*----------------home------------------*/
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5;
}

section{
    padding: 20px 15%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
.home{
    min-height: 90vh;
    background-image: url(image/back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 230px;
    width: 100%;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:40px;
    font-style: italic;
    font-family: sans-serif;
}
.links{
    display: flex;
}
.links li{
    margin: 20px;
}
.links li a{
    color: #fffdfd;
    position: relative;
    font-size: large;
}
.links li a::after{
    content: "";
    position: absolute;
    left:0 ;
    bottom: -5px;
    background-color: #f9ad4a;
    height: 4px;
    width: 0%;
    border-radius: 4px;
    transition: 0.5s;
}
.links li a:hover::after{
    width: 100%;
}

/*--------------------home_page_content----------------------------*/
.home_page_content{
    position: absolute;
    bottom: 60px;
}
.home_page_content span{
    display: flex;
    align-items: center;
}
.home_page_content span img{
    color: #f9ad4a;
    margin-left: 15px;
}
.home_page_content span p{
    color: #e1eaf7;
    font-weight: bold;
}
.home_page_content h1{
    margin: 20px 0;
    font-size: 70px;
    color:#fff;
    font-weight: bold;
    line-height: 80px;
}
.home_page_content .test{
    color: #f5f5f5;
    margin-bottom: 30px;
}
.white_btn{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size:15px;
    color: #fff;
    padding: 10px 30px;
    transition: 0.5s;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.white_btn:hover{
    background-color: #e1eaf7;
    color: #000;
}
/*----------------image_box--------------------*/
.image_box{
    position: absolute;
    bottom: -200px;
    right: 5%;
}
.image_box img{
    border-radius: 8px;
    width: 500px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 32px 40px rgba(0,0,0,0.24);
}
.image_box p{
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
}
/*--------text_section------------------------------*/
.text_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
    margin:80px 0;
}
.text_section img{
    margin: 80px 5px;

    width: 200px;
    height: 200px;
    border-radius: 25px;
}
.text_section h2{
    text-align: center;
    font-size:40px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*-------------title de cartes----------------*/
  
    #h1{
        text-align: center;
        border-radius: 9px ;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;  
        color: #645F88;
    }

            /*------------------les cartes n1---------------------------------*/

    #all {
        padding-top: 20px;
        
        }
        
        .features{
        background-color: #fff;
        border-radius: 50px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
        }
        
        .features-item {
        text-align: center;
        padding: 30px;
        border-radius: 50px;
        background: rgb(255,255,255);
        background: linear-gradient(105deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
        } 
    .features-item:hover {
        background: rgb(51,204,197);
        background: linear-gradient(105deg, rgba(51,204,197,1) 0%, rgba(8,141,195,1) 100%);
        }
        
        .features-item:hover h4 {
        color: #fff;
        }
    
        .number h6 {
        background-repeat: no-repeat;
        width: 110px;
        height: 69px;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        line-height: 69px;
        margin-top: -65px;
        margin-bottom: 30px;
        }
        
        .features-item .first-number h6 {
        background-image: url(image/features-number-01.png);
        }
        
        .features-item .second-number h6 {
        background-image: url(image/features-number-02.png);
        }
        .features-item .third-number h6 {
        background-image: url(image/features-number-03.png);
        }
        
        .features-item .fourth-number h6 {
        background-image: url(image/features-number-04.png);
        }
        
        .first .icon {
        background-image: url(image/features-icon-black-01.png);
        }
        .second .icon {
        background-image: url(image/features-icon-black-02.png);
        }
        .features-item .icon {
        width: 63px;
        height: 63px;
        margin: 0 auto;
        transition: all 0.5s;
        }
        .features-item h4 {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        color: #2a2a2a;
        transition: all 0.5s;
        }
    
        
  
/*-----------------le cart n2-----------------------*/
* {
    box-sizing: border-box;
    }
.container {
        display: flex;
        width: 1040px;
        justify-content: space-evenly;
        flex-wrap: wrap;
}
.card {
        margin: 10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        width: 300px;
}
.card-header img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        }
.card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        min-height: 250px;
}
h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: rgb(177, 168, 157);}

    /*------------about us-----------------------*/
    .section{
        display: flex;
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
    }span{
        color: rgb(14, 142, 142);
    }
    .deux{
        display: flex;
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
    }
    .deux h1{
        padding: 100px;
    }
    .title2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    #a{
        color: greenyellow;
    }
    #b{
        color: orange;
    }
    #Triqna{
        display: flex;
        align-items: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
    }

    .cart h1{
        text-align: center;
        font-weight: 400;
        font-family: 'Courier New', Courier, monospace;        color: grey;
        font-style: oblique;
    }


